<div
  [ngClass]="{
    income: category.type === 'income',
    expense: category.type === 'expense'
  }"
  class="category-card"
>
  <div class="category-card__name">
    <div *ngIf="!isEditingMode">{{ category.name | titlecase }}</div>
    <mat-form-field
      *ngIf="isEditingMode"
      class="categories-card__name__input"
      appearance="legacy"
    >
      <input matInput type="text" [(ngModel)]="categoryName" />
    </mat-form-field>
  </div>
  <div class="category-card__buttons">
    <button
      *ngIf="!isEditingMode"
      mat-icon-button
      aria-label="edit"
      (click)="isEditingMode = true"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      *ngIf="isEditingMode"
      [disabled]="categoryName === ''"
      mat-icon-button
      aria-label="done"
      (click)="updateCategory()"
    >
      <mat-icon>done</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="delete"
      (click)="openDeleteDialog()"
      *ngIf="!isEditingMode"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="exit"
      (click)="exitEditing()"
      *ngIf="isEditingMode"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
