.card
    width: 20rem
    height: 5rem
    margin: 0.5rem
    background: rgb(189,34,195)
    background: linear-gradient(13deg, rgba(189,34,195,1) 0%, rgba(45,253,207,1) 90%)
    opacity: 0.3
    transition: 0.3s
    &__title
        color: white
        font-size: 1.2rem

    &__amount
        padding-top: 1rem
        color: white
        font-size: 2rem
    
    &:hover
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 7px 7px
        opacity: 0.8

.selected
    opacity: 0.8