<div class="account-form">
  <div class="account-form__header">
    <h1>{{ title }}</h1>
    <button mat-icon-button aria-label="exit" (click)="callCloseOverlay()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="account-form__inputs">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{
            currency.code
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="account-form__inputs__description"
      >
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <div class="account-form__inputs__buttons">
        <button
          color="basic"
          mat-flat-button
          class="account-form__inputs__buttons__cancel"
          (click)="callCloseOverlay()"
        >
          Cancel
        </button>
        <button
          type="submit"
          color="basic"
          [disabled]="accountForm.invalid"
          mat-flat-button
          class="account-form__inputs__buttons__save"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
