<div class="card">
  <mat-icon
    [ngClass]="{
      income: transaction.type === 'income',
      expense: transaction.type === 'expense'
    }"
    class="transaction-icon"
  >
    {{ transaction.type === 'income' ? 'arrow_downward' : 'arrow_upward' }}
  </mat-icon>
  <div class="card__category">{{ transaction.category.name | titlecase }}</div>
  <div class="card__title">{{ transaction.title | titlecase }}</div>
  <div class="card__date">{{ transaction.transactionDate | date }}</div>
  <div
    class="card__amount"
    [ngClass]="{
      income: transaction.type === 'income',
      expense: transaction.type === 'expense'
    }"
  >
    {{ transaction.type === 'income' ? '' : '-'
    }}{{
      transaction.amount.valueOf()
        | currency: accountService.getActiveAccountCurrency()
    }}
  </div>
</div>
