.navbar
    display: flex
    justify-content: space-between
    background: white

    
.navbar__logo
    display: flex
    align-items: center

.navbar__links
    span
        padding-right: 1rem
        font-weight: lighter
        font-size: medium
    span:hover
        color: grey

.navbar__user
    display: flex
    align-items: center
    font-weight: lighter
    font-size: medium
    span
        padding-left: 5px

mat-sidenav-container
    height: 100%

.menu-button
    display: block
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start
    font-size: 1rem