<mat-toolbar class="navbar">
  <div class="navbar__logo">
    <span *ngIf="!(isWideScreen$ | async)">
      <button mat-icon-button (click)="menuButtonClicked.emit()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <a (click)="navigateHome()">Bugetify</a>
  </div>
  <ng-container *ngIf="isWideScreen$ | async">
    <div class="navbar__links">
      <a (click)="navigateToCategories()">Categories</a>
      <a>Subscriptions</a>
      <a>Obligatory</a>
      <a (click)="navigateToStatistics()">Statistic</a>
      <a>Admin</a>
    </div>
  </ng-container>
  <div class="navbar__user" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon><span>{{ currentUser }}</span>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
