<div class="main">
  <div *ngIf="accounts.length === 0; else elseBlock" class="main__no-accounts">
    <p>You don't have any accounts yet</p>
    <button mat-flat-button (click)="createAccountCreateOverlay()">
      <mat-icon>add_circle</mat-icon> Add your first account!
    </button>
  </div>
  <ng-template #elseBlock>
    <div class="main__accounts">
      <app-account-card
        *ngFor="let account of accounts; let i = index; trackBy: trackBy"
        [account]="account"
      >
      </app-account-card>
    </div>

    <div class="main__transactions">
      <mat-form-field
        class="main__transactions__searchfield"
        appearance="outline"
      >
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="value" />
        <button
          *ngIf="value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <p
        *ngIf="transactionService.transactions.length === 0"
        class="main__notransactions"
      >
        You don't have any transactions in this account!
      </p>
      <p
        *ngIf="
          transactionService.transactions.length !== 0 &&
          filteredTransactions.length === 0
        "
        class="main__notransactions"
      >
        No transactions match the filters!
      </p>
      <app-transaction-card
        *ngFor="
          let transaction of filteredTransactions | searchFilter: value;
          let i = index;
          trackBy: trackBy
        "
        [transaction]="transaction"
        (click)="createTransactionViewOverlay(transaction)"
      ></app-transaction-card>
    </div>

    <div class="main__options">
      <div class="filter-buttons">
        <button
          [ngClass]="{ selected: transactionService.isIncomeFilter }"
          class="filter-buttons__income"
          mat-mini-fab
          aria-label="income"
          (click)="filterTransactions('income')"
        >
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button
          [ngClass]="{ selected: transactionService.isExpenseFilter }"
          class="filter-buttons__expense"
          mat-mini-fab
          aria-label="expense"
          (click)="filterTransactions('expense')"
        >
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>
      <div class="add-buttons">
        <button mat-flat-button (click)="createTransactionCreateOverlay()">
          <mat-icon>add_circle</mat-icon> Add transaction
        </button>
        <button mat-flat-button (click)="createAccountCreateOverlay()">
          <mat-icon>add_circle</mat-icon> Add account
        </button>
      </div>
    </div>
  </ng-template>
</div>
